<html>


   <main>

  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="/login"> Orange </a>
  

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active ">
        <a class="nav-link" href="/about"> About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact"> Contact </a>
      </li>
     
         <li class="nav-item">
        <a class="nav-link" href="/create-human"> Register </a>
      </li>

      
   

     </ul>
  
   
  </div>
</nav>



 
    {{{body}}}
</main>

  </body>

 
</html>
