<h1>About the company </h1>
<div class = "aboutustext">
<p>Orange is a website that aims to bring you a sense of peace and tranquilty. </p>

    <p>This company was founded in 2015, by the founder Isabelle. The aim with this site is to provide a sense of 
    calm. <p>Nothing is expected of you - only to enjoy the sounds and get grounded to mother earth.</p></p>


    <p>Isabelle wishes you eternal light and love with the ablity to connect with friends and 
    share tunes that you find brings you a sense of joy.</p>

   <h3>Namaste</h3> 
</p>
</div>