<h1> Let's get you signed up!!  </h1>


<form action="" method="POST">

        

    <div>

        Username: <input type="text" name="age" value="Username">

    </div>

     <div>

        Password: <input type ="password" name = "password">

    </div>


    

    <input type="submit" value="Create">

    

</form>