



<form method="POST" action="/login">
  <div class = "signin_user">
    <h1> Create a new playlist</h1>
    Name of Playlist <input type ="text" name = "nameofplaylist">
  </div>
  <div>
    Public or private? <input type ="text" name = "typeofaccount">
  </div>
  <input type = "submit" value = "Create">
  </form>


