<html>
<h1> Deirdre's account </h1>

<p> List of Public playlists </p>

<a href = "/Users">Back to Friends</a>


 
<div class="container">
                                                                            
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Playlists </th>
     </tr>
    </thead>
    <tbody>
      <tr>
         <td> Instrumental Chills</td>
      </tr>

       <tr>
        <td> Peaches and Plums </td>
      </tr> 

        <tr>
        <td> Retro Caridigans </td>
      </tr> 

        <tr>
        <td> Sugar and Spice </td>
      </tr> 

        <tr>
        <td> Party Time </td>
      </tr> 
    </tbody>
  </table>
  </div>
</div>

</html>