
	<div>

{{#if human}}
	
	<h1> Welcome to Orange, {{human.name}}! </h1> 

	<p>Make a playlist and get started</p>
		
	</div>
{{else}}
	<h1>Not found</h1>
	<p>No user with that id.</p>
{{/if}}

<div class="container">
                                                                            
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Add to Public/Private Playlist</th>
       
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Calming chills</td>
        <td> Nina Namaste</td>
		</td>
       
      </tr>

       <tr>
        <td>Relaxing vibes</td>
        <td>Jars of Bees </td>
        <td>
			
				
		</td>
		
      </tr>

       <tr>
        <td>Tranquiltiy </td>
        <td> Umi </td>
        <td>Public/Private Playlist </td>
      </tr>

       <tr>
        <td>Zen</td>
        <td> Norhtern Lights </td>
        <td>Public/Private Playlist </td>
      </tr>
        <tr>
        <td> Ocean sounds </td>
        <td> Momento </td>
        <td>Public/Private Playlist </td>
      </tr>
   
     <tr>
        <td> Unwind </td>
        <td> Driftwood </td>
        <td>Public/Private Playlist </td>
      </tr>
   

    </tbody>
   
     
  </table>
  </div>
</div>

</body>
</html>
</script>