<!doctype html>
<html lang="en" class="h-100">
  <head>
   
    <link href="homepage.css" rel="stylesheet">
  </head>
 


    <body>
   
    <h1>Hi Welcome to the meditation music website</h1>
    <h2>Listen to the present moment!
    </h2>
    
 
<form method="POST" action="/login">
  <div class = "signin_user">
    <h1>Sign in!</h1>
    Username: <input type ="text" name = "username">
  </div>
  <div>
    Password: <input type ="password" name = "password">
  </div>
  <input type = "submit" value = "Login">
  </form>

  </body>
</html>
      