<!doctype html>

<body>



  <h1> Welcome to your homepage, Grace! </h1>
  <h1> Here are your playlists and friends </h1>

  <a class="nav-link" href="/Users"> Your Friends </a>

  Your Playlists


  <a class="nav-link" href="/private"> Private Playlists </a>

  <a class="nav-link" href="/public"> Public Playlists </a>

  <a class="nav-link" href="/createplaylist"> Create a new playlist</a>

  <h2> New songs that you might enjoy!</h2>



<form method="POST" action="/sleepy">
  <ul>
    {{#if data.songs.length}}
    {{#each data.songs}}
    <li style="list-style-type: none;">
      {{title}}
        <input type="submit" value="Add" name="song">
    </li>
    {{/each}}
    {{/if}}
  </ul>
  </form>


  </html>