Sleepy Sounds 

Playlist 

{{#if data.songs}}
	
	<h1>  {{data.songs.title}}! </h1> 


{{/if}}


<form method="POST" action="">
  <ul>
    {{#if data.songs.length}}
    {{#each data.songs}}
    <li style="list-style-type: none;">
      {{title}}
        <input type = "submit" value = "Add">
    </li>
    {{/each}}
    {{/if}}
  </ul>
  </form>

   <input type = "submit" value = "Delete playlist">


    <input type = "submit" value = "Delete Song">




