<div class="columns">
    <div class="column">
        <h2 class="subtitle">{{title}}</h2>
    </div>
    <div class="column">
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger" style="margin-top: -5%;">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <span aria-hidden="true">Add to playlist</span>
                    </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                    {{#if playlists.length}}
                        {{#each playlists}}
                            <form method="POST" action="/add-song/{{id}}/{{../title}}">
                                <div class="dropdown-item">
                                    <button class="button">
                                        {{title}}
                                    </button>
                                </div>
                            </form>
                        {{/each}}
                    {{else}}
                        <div class="container has-text-centered">
                            <br>
                            <h1>No playlist to display here</h1>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>