<html>
<h1> Here is a list of friends </h1>

<a href = "/profile">Back to Profile</a>
  
<div class="container">
                                                                            
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Playlists </th>
     </tr>
    </thead>
    <tbody>
      <tr>
         <td> <a href = "/Deirdre">  Deirdre Barlow  </a> </td>
         <td>5 </td>
      </tr>

       <tr>
        <td> Aoife Goulding </td>
        <td>50</td>
      </tr> 

        <tr>
        <td> Tomas Shine </td>
        <td>10</td>
      </tr> 

        <tr>
        <td> Ryan O'Connor </td>
        <td>20</td>
      </tr> 

        <tr>
        <td> Albin Tapper </td>
        <td>40</td>
      </tr> 
    </tbody>
  </table>
  </div>
</div>

</html>